*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url('../img/background_cage.jpg');
	background-size: cover;
	background-repeat: repeat-x;
	position: relative;
	height: 100%;
	min-height: 100%;
}

/*					BANNER					*/

#banner{
	background-color: black;

	width : 78.250em;
	border-width:5px;
 	border-style:ridge;
 	border-color: white;
}

.img_profil{
	width: 12.313em;

	border-width: 0px 5px 0px 0px;
 	border-style:ridge;
 	border-color:white;
}

.img_profil2{
	width: 12.313em;
	height: auto;
}

.img_bann{
	width: 34.375em;
	height: auto;
	margin-left: 15.625em;
}

.menu_cell_line1{
	margin: 0.938em 1.250em 0px 12.500em;
	padding: 5px 3.125em 2px 3.125em ;
	width: auto;
	height: auto;

	border-width: 5px 5px 5px 5px;
 	border-style: ridge;
 	border-color: white;

	display: block;
	float: left;
	background-color: black;
}

.menu_cell_line{
	margin: 0.938em 1.250em 0px 1.250em;
	padding: 5px 3.125em 2px 3.125em;
	width: auto;
	height: auto;

	border-width: 5px 5px 5px 5px;
 	border-style: ridge;
 	border-color: white;

	display: block;
	float: left;
	background-color: black;
}

.menu_link_basic{
	font-family: tahoma;
	font-size: 0.875em;
	color: white;
	text-decoration: none;
}

/*					END BANNER					*/
.container{
	padding: auto;
	display: inline;
}

#menu{
	display: inline;
	width : 78.250em;
	position: absolute;
}

/*					SIDEBAR					*/
#sidebar{
	margin: 15px 0% 0% 2%;
	float: left;
	display: block;
 	border-radius: 5px;
 	position: fixed;
 	bottom: 11%;
}

#sidebar2{
	display: block;
 	position: fixed;
 	width: auto;
 	height: auto;

	border-width: 0px 5px 0px 0px;
 	border-style:ridge;
 	border-color:white;
}

.sidebar_cell_line1{
	padding: 20px 50px 20px 10px;

	border-width: 5px 0px 5px 0px;
 	border-style: ridge;
 	border-color: white;
}

.sidebar_cell_line{
	padding: 20px 50px 20px 10px;

	border-width: 0px 0px 5px 0px;
 	border-style: ridge;
 	border-color: white;
}

.sidebar_cell_line_1{
	padding: 20px 50px 20px 10px;
	border-width: 5px 0px 5px 0px;
 	border-style: ridge;
 	border-color: white;
}

.sidebar_cell_line_{
	padding: 20px 50px 20px 10px;
	border-width: 0px 0px 5px 0px;
 	border-style: ridge;
 	border-color: white;
}

/*					END SIDEBAR					*/
/*					MAIN CONTENT				*/

#maincontent{
	padding: 4em 2em 0em 2em;
	background-color: black;
	width: 50.750em;
	height: 13.1em;
	color: white;
	background-color: black;
 	border-radius: 5px;
	margin-top: 10%;
	margin-left: 15.625em;
	text-align: center;
}

#maincontent2{
	padding: 2em;
	margin-left: 25em;
	background-color: black;
	width: 43.750em;
	height: 100%;
	color: white;
	background-color: black;
 	border-radius: 5px;

}

ul{
	text-indent: 2em;
}

li {
	text-indent: 2em;
}

p {
	text-indent: 1em;
	font-size: 1em;
}

/*					END MAIN CONTENT				*/
/*					FOOTER				*/
#footer{
	bottom:0;
	left:0;
	margin: auto;
	padding: auto;
	width: 1260px;
	height:auto;
	position: relative;
	background-color: grey;

	border-width: 5px 0px 0px 0px;
 	border-style: ridge;
 	border-color: white;

	font-family: tahoma;
	font-size: 0.575em;
	color: white;
	text-align: right;
}
/*					END FOOTER				*/
